* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(255, 255, 255);
}

h1 {
    margin-left: 4%;
    margin-top: 1%;
}

nav {
    background-color: light;
    margin-top: 0.5%;
    margin-left: 20%;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: color 0.3s;
}

h2 {
    font-size: 200%;
    margin-left: 0.3px;
}

.container {
    background-color: lightpink;
    padding: 10%;
    margin: 3%;
    border: 50%;
    border-radius: 30px;
    display: flex;
    flex-direction: row;

}

/* img {
    height: 200px;
    width: 300px;

} */

.fundo {
    background: black;
    background-size: 150%;
    border-radius: 50%;
    height: 90%;
    margin-left: 50%;
}

#valide {
    height: 10%;
    width: 15%;
    margin-bottom: 3%;
}

button {
    background-color: black;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    padding: 10px 20px;
    margin-top: 5px;
}

button:hover {
    background-color: rgb(241, 16, 91);
    transition: 0.5s;
}